services:
  nginx:
    image: nginx:alpine
    container_name: nginx-dev
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

    networks:
      - my_network

networks:
  my_network:
