@import 'tailwindcss';
@layer theme, base, components, utilities;

@theme {
  --color-*: initial;

  --color-n10: #f8f8f8;
  --color-n20: #eaeaea;
  --color-n30: #dfdede;
  --color-n40: #c8c8c8;
  --color-n50: #aaaaaa;
  --color-n60: #848484;
  --color-n70: #666666;
  --color-n80: #3d3d3d;
  --color-n90: #212121;
  --color-black: #000000;

  --color-p50: #fffcf8;
  --color-p100: #fff3dd;
  --color-p200: #ffdc99;
  --color-p300: #ffcb66;
  --color-p400: #ffba33;
  --color-p500: #ffa800;
  --color-p600: #cc8700;
  --color-p700: #996500;
  --color-p800: #664300;
  --color-p900: #332200;

  --color-tp50: #fff1f1;
  --color-tp100: #ffd3d3;
  --color-tp200: #ffdc99;
  --color-tp300: #ffcb66;
  --color-tp400: #ffba33;
  --color-tp500: #ffa800;
  --color-tp600: #cc8700;
  --color-tp700: #996500;
  --color-tp800: #664300;
  --color-tp900: #332200;

  --color-s50: #f6f9ff;
  --color-s100: #edf2ff;
  --color-s200: #eaeaea;
  --color-s300: #c6d6ff;
  --color-s400: #487aff;
  --color-s500: #416ee6;
  --color-s600: #3a62cc;
  --color-s700: #365cbf;
  --color-s800: #2b4999;
  --color-s900: #203773;
  --color-sDarker: #192b59;

  --color-error: #ff3257;
  --color-gray: #fafafc;
  --color-m-gray: #f9f9f9;
  --color-d-black: #101010;
  --color-white: #ffffff;
  --color-orange: #ffa800;
  --color-black: #000000;

  --text-h1: 44px;
  --text-h1--line-height: 44px;
  --text-h1--letter-spacing: 0px;
  --text-h1--font-weight: 500;

  --text-h2: 36px;
  --text-h2--line-height: 36px;
  --text-h2--letter-spacing: 0px;
  --text-h2--font-weight: 500;

  --text-h3: 28px;
  --text-h3--line-height: 34px;
  --text-h3--letter-spacing: 0px;
  --text-h3--font-weight: 500;

  --text-h4: 24px;
  --text-h4--line-height: 30px;
  --text-h4--letter-spacing: 0px;
  --text-h4--font-weight: 500;

  --text-h5: 20px;
  --text-h5--line-height: 26px;
  --text-h5--letter-spacing: 0px;
  --text-h5--font-weight: 500;

  --text-l1: 20px;
  --text-l1--line-height: 26px;
  --text-l1--letter-spacing: 0px;
  --text-l1--font-weight: 500;

  --text-l2: 20px;
  --text-l2--line-height: 26px;
  --text-l2--letter-spacing: 0px;
  --text-l2--font-weight: 400;

  --text-m1: 18px;
  --text-m1--line-height: 26px;
  --text-m1--letter-spacing: 0px;
  --text-m1--font-weight: 500;

  --text-m2: 18px;
  --text-m2--line-height: 20px;
  --text-m2--letter-spacing: 0px;
  --text-m2--font-weight: 400;

  --text-n1: 16px;
  --text-n1--line-height: 24px;
  --text-n1--letter-spacing: 0px;
  --text-n1--font-weight: 500;

  --text-n2: 16px;
  --text-n2--line-height: 24px;
  --text-n2--letter-spacing: 0px;
  --text-n2--font-weight: 400;

  --text-s1: 14px;
  --text-s1--line-height: 20px;
  --text-s1--letter-spacing: 0px;
  --text-s1--font-weight: 500;

  --text-s2: 14px;
  --text-s2--line-height: 20px;
  --text-s2--letter-spacing: 0px;
  --text-s2--font-weight: 400;

  --text-xs1: 13px;
  --text-xs1--line-height: auto;
  --text-xs1--letter-spacing: 0px;
  --text-xs1--font-weight: 500;

  --text-xs2: 12px;
  --text-xs2--line-height: 18px;
  --text-xs2--letter-spacing: 0px;
  --text-xs2--font-weight: 400;
}

@layer utilities {
}
